.banner__swiper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-repeat: no-repeat;
}
.banner {
  margin: 100px 0 46px;
}
.banner__content {
  position: absolute;
  top: 80px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.banner__content h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 10%;
  color: #000;
}
.banner__content h2 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: #000;
  width: 650px;
}
.banner__content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  width: 530px;
  padding-bottom: 40px;
}
.banner__content h2 span {
  color: #46a358;
}
